.weatherDetailPage {
  height: fit-content;
  font-size: 1.8rem;
  h2 {
    text-align: center;
  }

  .overview,
  .features,
  .technologies,
  .challenges,
  .enhancements {
    margin-bottom: 5rem;
  }

  .enhancements div {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }
  }

  .highlight {
    color: var(--color-tertiary--1);
    font-weight: 600;
  }

  .technologies {
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      li {
        text-transform: capitalize;
        border: 1px solid var(--color-tertiary--1);
        padding: 0.5rem 1rem;
        display: inline-block;
      }
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
