.about {
  background-color: var(--color-primary--1);
  // background-color: var(00);
  padding: 5rem 28rem;

  font-size: 2rem;
  font-weight: 300;
  position: relative;
  text-align: center;
  padding-top: 15rem;

  display: flex;
  flex-direction: column;

  justify-content: center;

  .title {
    flex-basis: 30%;
  }

  p {
    line-height: var(--line-height--1);
  }
}
