.about {
  font-size: 2rem;
  position: relative;
  padding: 10rem 28rem;

  h2 {
    text-align: center;
  }

  @media screen and (max-width: 1250px) {
    padding: 10rem 15rem;
  }
  @media screen and (max-width: 950px) {
    padding: 10rem;
  }
  @media screen and (max-width: 600px) {
    padding: 5rem;
  }

  p {
    line-height: var(--line-height--1);
    // font-family: var(--font-heading);

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}
