.about {
  font-size: 2rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 28rem;
  @media screen and (max-width: 1250px) {
    padding: 10rem 15rem;
  }
  @media screen and (max-width: 950px) {
    padding: 5rem 10rem;
  }
  @media screen and (max-width: 600px) {
    padding: 5rem;
  }

  p {
    line-height: var(--line-height--1);
  }
}
