.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  padding: 0rem 25rem;
  width: 100%;
  margin: auto;
  overflow: hidden;

  @media screen and (max-width: 1250px) {
    padding: 10rem 15rem;
  }
  @media screen and (max-width: 950px) {
    padding: 5rem 10rem;
    height: 80vh;
  }
  @media screen and (max-width: 600px) {
    padding: 5rem;
    height: 70vh;
  }

  background: url("../../assets/home/noise_3.png");
  // background: url("../../assets/home/noisy-texture-1.png");

  position: relative;

  &__content {
    font-size: 2rem;
    // margin: auto;
    padding: 0 10rem;
    flex-grow: 1;

    flex-basis: 100%;
    h1 {
      display: flex;
      flex-direction: column;
    }
    .name {
      span {
        &:nth-child(2) {
          letter-spacing: -1px;
          font-size: var(--heading-secondary);
          margin-top: 1rem;

          @media screen and (max-width: 500px) {
            font-size: 3.5rem;
          }
        }
      }
    }
    .intro {
      line-height: var(--line-height--1);
      margin-bottom: var(--margin-md);
      font-family: var(--font-family--2);
    }

    .highlight {
      color: var(--color-tertiary--1);
      font-weight: 500;
    }

    .btns {
      display: flex;
      gap: 2rem;
      margin-top: var(--margin-md);
      a {
        background: var(--color-tertiary--1);
        transition: all 0.3s;
        text-align: center;
        padding: 1.4rem 2rem;
        font-family: var(--font-heading);
        font-size: 1.6rem;
        font-weight: 500;
        border: 2px solid var(--color-tertiary--1);

        &:last-child {
          background-color: transparent;
          &:hover {
            background-color: var(--color-tertiary--1);
          }
        }
        &:hover {
          background-color: transparent;
          cursor: none;
        }
      }
    }

    .icons {
      display: flex;
      gap: 1rem;
      margin-top: 10rem;

      svg {
        fill: var(--color-secondary--2);
      }
    }
  }

  .bar {
    position: relative;
    height: 40rem;
    width: 30rem;
    top: 0%;
    right: 0%;
    opacity: 0.5;
    transition: all 0.2s;
    flex-basis: 40%;
    // background-color: red;

    svg {
      position: absolute;
      top: 10%;
      right: -120%;
      width: 30rem;
      height: 20rem;
      height: 100%;
      stroke: var(--color-tertiary--1);
      animation: circle-rotate 5s linear infinite forwards alternate;
    }
  }
}

.profile {
  &__name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;
    font-size: 2rem;

    p {
      &:first-child {
      }
      &:last-child {
        position: relative;
        display: inline-block;
        font-size: 5.2rem;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }
  }
}

.hello {
  position: relative;
  height: 2.5rem;
  display: inline-block;
  width: 10rem;

  &::after {
    content: "";
    position: absolute;
    // background-color: var(--color-tertiary--1);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    // z-index: 20;
    // transform: scaleX(0);
    // animation: slide-to-right 0.5s ease-in forwards, origin 0s 0.5s,
    //   reveal-text 0.5s 0.7s forwards;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: var(--color-primary--1);
    // animation: show-text 0.1s 0.5s forwards;
  }
}

@keyframes circle-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-to-right {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes origin {
  0% {
    transform-origin: left;
  }

  100% {
    transform-origin: right;
  }
}
@keyframes reveal-text {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

@keyframes show-text {
  0% {
    background-color: var(--color-primary--1);
  }

  100% {
    z-index: -10;
    background-color: none;
    width: 0%;
  }
}
