:root {
  --color-primary--1: #0d0d0d; //bg
  // --color-primary--1: #080808; //bg
  --color-primary--2: #121212; //bg
  --color-primary--3: #2f4f4f; //bg

  --color-secondary--1: #ffffff; //text
  --color-secondary--2: #d3d3d3; //text
  --color-secondary--3: #555d50; //text

  //accent
  --color-tertiary--1: #dc143c;

  --color-icons--1: #ffd700;

  --font-content: "REM", sans-serif;
  --font-heading: "Chivo Mono", monospace;

  //border-radius
  --border-radius--1: 0.2rem;

  //size

  --heading-secondary: 4.4rem;
  --heading-tertiary: 3.2rem;
  --heading-4: 2.6rem;
  --heading-5: 2.2rem;
  --heading-6: 2rem;
  --margin-lg: 4.8rem;
  --margin-xl: 5.2rem;
  --margin-md: 3rem;
  --margin-sm: 2.4rem;
  --margin-xs: 1.8rem;

  --line-height--1: 1.8;
  --line-height--2: 1.6;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //10px*100/16
  height: 100%;
  width: 100%;

  @media screen and (max-width: 1250px) {
    font-size: 56.25%;
  }
  @media screen and (max-width: 950px) {
    font-size: 50%;
  }
  @media screen and (max-width: 650px) {
    font-size: 48%;
  }
}

body {
  font-family: var(--font-content);
  font-size: 1.6rem;
  color: var(--color-secondary--1);
  background-color: var(--color-primary--1);
}

html,
body {
  cursor: none;
}
