.projects {
  position: relative;
  z-index: 500;
  padding: 10rem 25rem;
  text-align: center;
  position: relative;
  margin: auto;

  @media screen and (max-width: 1250px) {
    padding: 10rem 15rem;
  }
  @media screen and (max-width: 950px) {
    padding: 8rem;
  }
  @media screen and (max-width: 600px) {
    padding: 5rem;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 8rem;
    // row-gap: 8rem;
    width: 100%;
  }
}
