.projects {
  position: relative;
  z-index: 500;
  padding: 10rem 25rem;
  text-align: center;
  position: relative;
  margin: auto;

  @media screen and (max-width: 1250px) {
    padding: 10rem 15rem;
  }
}

.project {
  position: relative;

  &:not(:last-child) {
    padding-bottom: 8rem;
  }

  &__image {
    min-width: 60%;
    height: auto;
    flex-grow: 1;
    flex-basis: 70%;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #fff;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    transform-origin: top;
    transform: scale(1);
    transition: all 0.3s;
  }

  &__image:hover img {
    transform: scale(1.1);
  }

  &__content {
    flex-basis: 100%;
    width: 100%;
    text-align: start;
    position: relative;
    z-index: 1000;
    &--line {
      display: flex;
      gap: 1rem;
    }
  }

  &__text {
    line-height: var(--line-height--2);
    text-align: start;
    font-size: 1.8rem;
    &::first-letter {
      font-size: 2rem;
      color: var(--color-tertiary--1);
    }
  }

  &__stack {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    svg {
      font-size: 2.2rem;
      color: var(--color-icons--1);
    }
  }
}

.btns {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;

  button,
  a {
    padding: 0.5rem 2rem;
    text-transform: capitalize;
  }
}
