.btn {
  outline-color: none;
  border: none;
  font-family: var(--font-heading);
  font-weight: 500;
  color: inherit;
  background-color: transparent;
  padding: 1.2rem 3.2rem;
  font-size: 1.6rem;
  border: 2px solid var(--color-tertiary--1);
  transition: all 0.2s;

  @media screen and (max-width: 650px) {
    padding: 1rem;
  }

  &__outline {
    border: 2px solid var(--color-tertiary--1);
    border-radius: var(--border-radius--1);
    box-shadow: 0px 2px 5px 5px rgba(#dc143c, 0.08);

    &:hover {
      cursor: none;
      background-color: var(--color-tertiary--1);
    }
  }

  &__primary {
    box-shadow: 0px 2px 5px 2px rgba(#dc143c, 0.08);
    background-color: var(--color-tertiary--1);
    &:hover {
      background-color: transparent;
      cursor: none;
    }
  }

  &__link {
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;

    &:hover {
      cursor: none;
      background-color: var(--color-tertiary--1);
    }
  }
}
