.custom-cursor {
  position: fixed;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.689);
  background-color: rgba(255, 255, 255, 0.689);
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 20000;

  &--dot {
    position: fixed;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid var(--color-tertiary--1);
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 20000;
    transition: all 0.15s;
  }
}

.shining-dot {
  width: 1rem;
  height: 1rem;
  background-color: yellow;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  height: 50%;
}
