.subTitle {
  margin-bottom: var(--margin-sm);
  font-size: var(--heading-4);
  color: var(--color-tertiary--1);
  font-family: var(--font-family--1);
  font-weight: 600;
}
.supportingHeading {
  font-size: var(--heading-5);
  font-weight: 400;
  color: var(--color-tertiary--1);
  margin: 2rem 0;
}
