.heading {
  font-size: var(--heading-tertiary);
  font-family: var(--font-family--3);
  color: var(--color-tertiary--1);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: var(--margin-xs);
  line-height: 1.2;

  @media screen and (max-width: 1000px) {
    font-size: var(--heading-4);
  }
}
