.card,
.card__reverse {
  display: flex;
  padding: 3rem 0rem;
  row-gap: 2rem;
  column-gap: 5rem;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.card__reverse {
  flex-direction: row-reverse;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}
