.heading {
  text-wrap: nowrap;
  font-size: var(--heading-secondary);
  font-family: var(--font-family--1);
  font-weight: 600;
  color: var(--color-tertiary--1);
  text-transform: uppercase;
  margin-bottom: var(--margin-lg);

  @media screen and (max-width: 650px) {
    margin-bottom: var(--margin-md);
  }
}
